
body { 
  background-image: url("https://web.njit.edu/~vb97/Codelet/home.jpeg");
  background-color: white;
}
.nav ul:hover {
  background-color: #4A4A4A;
}
.nav ul {

  top:0 !important;
  left:0;
  position: fixed;
  width:100%;
  height:80px;
  background-color: #242323;
  color:white;
  font-family: 'Source Code Pro', ;

  /*
  list-style: none;
  background-color: #000000;
  opacity: 0.5;
  text-align: center;
  padding: 0;
  margin: 0;
  */
}

@media screen and (min-width: 600px) {
  .nav li {
    text-align: center;
    width: 120px;
    border-bottom: none;
    line-height: 80px;
    font-size: 1.4em;
  }
.nav li {
    display: inline-block;
    margin-right: -4px;
  }
  .nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #000000;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
}
#wrapper { 

  /*
  margin-left: auto;
  margin-right: auto;
  width: 910px;
  height: 200px;
  min-width: 910px;
  */

  height:600px;
  width:900px;
  margin-left: auto;
  margin-right: auto;
  margin-top:300px;
  border-radius: 15px;
  opacity: 1;
  color:white;
  background-color: #242323; 

}

h1 { 
  border-radius: 15px;
  background-color: white;
	color: black; 
	width: 300px;
	center: 50%;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
	font-weight: bold;
  margin-top: 30px;
  padding: 10px;
  font-family: Georgia, "Times New Roman", serif; 
}
h2 { 
  border-radius: 15px;
  background-color: white;
  color: black; 
  width: 300px;
  center: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  padding: 10px;
  font-family: Georgia, "Times New Roman", serif; 
}
	  
#content { 
  border-radius: 15px;
	background-color: #4A4A4A;
	margin-right: auto;
  opacity: 1;
  color: white;
  padding: 0 20px 15px;
  margin-left: 10px;
  margin-right: 10px;	
		
}

label { float: center;
  width: 120px;
  display: inline-block;
  font-weight:bold;
  text-align: right;
 	padding-right: 10px;
  font-family: Georgia, "Times New Roman", serif;
}
text, input { 
   margin-top: 10px;
   margin-right: 10px;
}
		
button {
	 margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
   background-color: #EBCA83;
  width:90px;
  height:30px;
  border-radius: 10px;
  opacity: 1;
  font-family: 'Source Code Pro', ;
  font-size: 20px;
  padding-left: 14px;
  padding-right: 7px;
  color:black;
  cursor: pointer;

}
input{
  border-radius: 10px;
}
button:hover{
  opacity: 1 ;
  -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

}


